body, input, .button {
    font-size: 14px;
    font-family: arial,sans-serif;
}

.topNavigationBar{
    float: right;
    padding: 6px;
    margin: 10px;
}

.topNavigationBar a{
    margin: 6px;
    color: black;
    text-decoration: none;
}

.topNavigationBar a:hover {
    text-decoration: underline;
}

.topNavigationBar .button{
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #4585f3;
    padding: 10px 18px;
    font-weight: 600;
    cursor: pointer;
}

.topNavigationBar .button:hover{
    text-decoration: none;
    box-shadow: 0 0 1pt 1pt rgb(166, 166, 228);
}
.main{
    text-align: center;
    position: fixed;
    margin: 20vh auto auto 0px;
    width: 100%;
}

input[type=text] {
    box-sizing: border-box;
    background-image: url('./images/searchIcon.svg');
    background-size: 19px;
    background-position: 14px 14px;
    background-repeat: no-repeat;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    width: 580px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px 10px 10px 50px;
}
  
input[type=text]:focus ,input[type=text]:hover{
    outline: none;
    box-shadow: 0 0 5pt 2pt #D3D3D3;
}

input[type=submit] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    height: 40px;
    margin: 11px 4px;
    padding: 0 16px;
    cursor: pointer;
}

input[type=submit]:hover {
    border-color:#D3D3D3;
}


